@font-face {
  font-family: noir;
  src: url(./fonts/Noir.ttf);
}

#page {
  font-family: noir;
  background: #e6e6e6;
}

body {
  margin: 0;
  translateZ: 0;
}

html {
  background: #e6e6e6;
}

#main {
  background: #e6e6e6;
  position: absolute;
  width: 100%;
}

#logo {
  width: 25%;
}

.main-navbar li {
  font-size: 120%;
  font-weight: bold;
}

.user-action.card {
  border: 1px solid black;
  margin: 2%;
  padding: 1%;
  transition: all 0.5s;
  min-width: 40%;
}

.user-action.card svg {
  margin: 2% auto 6% auto;
  font-size: 3em;
}

.user-action.card h2 {
  border-bottom: 1px solid #cccccc;
}

.user-action.card:hover {
  background: #cccccc;
}

.user-actions.card-deck {
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}

#services {
  display: flex;
  background: #e6e6e6;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.service {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 22%;
  margin: 3%;
  text-align: center;
  position: relative;
  padding: 1%;
  transition: all 0.5s;
}

.service-highlight {
  background-color: rgb(0,0,139);
  position: absolute;
  top: -32px;
  left: -8px;
  width: 105%;
  padding: 1%;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: white;
}

.service-footer {
  border-top: 1px solid gray;
  padding: 5%;
  bottom: 0;
  position: absolute;
  width: 90%;
}

@media(max-width: 950px) {
  .service-footer {
    position: relative;
    margin: 0 auto;
  }

  .service {
    margin: 10%;
  }
}

.service:hover {
  background: #bbbbbb;
}

.service h2 {
  background: black;
  color: white;
  padding: 4%;
  width: 120%;
  margin-left: -10%;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius: 3px;
}

.service h4 {
  margin-top: 3%;
  font-weight: bold;
}

.service img {
  max-width: 90%;
  max-height: 150px;
}

.service-low {
  margin-top: 2%;
  margin-bottom: 0;
}

.service-price-text p {
  display: inline;
}

.service-dollar {
  font-size: 80%;
  vertical-align: 100%;
}

.service-price {
  font-size: 250%;
}

#services-page {
  background: #e6e6e6;
  text-align: center;
}

#services-page h1 {
  padding-top: 2%;
  font-weight: bold;
}

.bg-dark {
    background: black;
}

.week {
  transition: all 0.2s;
  display: flex;
  flex-direction: row;
}

.day {
  flex: 1;
  border: 1px solid black;
  text-align: center;
}

@media(max-width: 950px) {
  .week {
    flex-direction: column;
  }
}

.event {
  width: 96%;
}

.calendar-control {
  margin: 0.5%;
  text-align: center;
}

.calendar-control h1 {
  margin: 0 2%;
}

.calendar-control h1,button {
  display: inline;
}

.calendar-control button {
  vertical-align: 0.5em;
  margin: 0 2%;
}

.popup {
  transition: all 0.5s;
  background: white;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 2px #888888;
  border-radius: 5px;
  position: relative;
  top: -500px;
}

#popup-footer {
  border-top: 1px solid #cccccc;
  text-align: right;
}

.popup h5 {
  border-bottom: 1px solid #cccccc;
  padding: 2%;
}

.popup div {
  padding: 1%;
}

.prepend {
  background: #dddddd;
  width: 25%;
  text-align: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.prepend p {
  margin: 0;
  padding: 1%;
}

.form-control {
  width: 100%;
}

.bg-black {
  background: black;
}

#cart {
  transition: all 0.5s;
  background: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 5px 2px #888888;
  position: fixed;
  left: 100%;
  width: 50%;
  padding: 1%;
}

#cart-container {
  position: relative;
  top: -150px;
}

#cart table {
  text-align: center;
}

#cartBtn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 150%;
}

#cartBtn svg {
  transition: all 0.5s;
}

@media(max-width: 950px) {
  .popup {
    width: 90%;
  }

  #cart {
    width: 100%;
    font-size: 0.75em;
  }

  #cartBtn {
    left: 85%;
  }
}

@media(min-width: 1400px) {
  .popup {
    width: 30%;
  }

  #cart {
    width: 40%;
  }

  #cartBtn {
    left: 95%;
  }
}

#cart-container {
  visibility: hidden;
}

#popup-content .input-group {
  margin-bottom: 0;
  padding-bottom: 0;
}

#addEventFixedBtn {
  position: fixed;
  bottom: 5%;
  font-size: 135%;
  left: 5%;
}

#reception-div {
  text-align: center;
}

.reception-form {
  width: 60%;
  margin: 0 auto;
}

.carousel-container {
  display: inline-block;
}

.carousel {
  width: 30%;
  display: inline-block;
  border: 10px solid black;
  border-radius: 5px;
  margin: 3em 10%;
}

#bannerTitle {
  color: white;
  font-size: 3rem;
}

#bannerSubtitle {
  color: white;
  font-size: 2rem;
}

.separator {
  background: red;
  height: 2vh;
}

#navbarTogglerDemo01 {
  padding: 1%;
}

.personal-info {
  width: 75%;
  margin: 0 auto;
}

.form-control.sales-input {
  width: 15%;
  margin: 0 1% 1% 1%;
  display: inline-block;
}

.socials a img {
  width: 3vw;
  margin: 1%;
  transition: all 0.5s;
}

.socials a img:hover {
  opacity: 0.5;
}

.schedule-week {
  display: flex;
  text-align: center;
}

@media(max-width: 950px) {
  .schedule-week {
    flex-direction: column;
  }
}

.schedule-day {
  width: 100%;
  border: 2px solid black;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.schedule-day::-webkit-scrollbar {
  display: none;
}

.schedule-day p {
  background: black;
  color: white;
}

@media(max-width: 950px) {
  .service {
    width: 80%;
  }
}

#schedule-info-input * {
    display: inline;
    margin: 0.5em;
}